body, html {
	margin: initial;
}

#controller {
	overflow: hidden;
}

#img-controller {
	width: 100%;
}

#img-controller-overlays {
  position: relative;
}

#img-controller-overlays > img {
  position: absolute;
  width: 100%;
}

#stick_axis_left,
#stick_button_left {
  transform-origin: 32% 32%;
}

#stick_axis_right,
#stick_button_right {
  transform-origin: 59% 50%;
}
